<h1>Clinicaldepartment#index</h1>
<p>Find me in app/views/clinicaldepartment/index.html.erb</p>

<table>
  <thead>
    <tr>
      <th>診療科</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clinicaldepartments.each do |clinicaldepartment| %>
      <tr>
        <td><%= clinicaldepartment.classification_i18n %></td>
        <td><%= link_to '表示する', clinicaldepartment %></td>
        <td><%= link_to '変更する', edit_clinicaldepartment_path(clinicaldepartment) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規登録', new_hospital_path %>
